$main-color:#0A2267;
// $main-color:#0E0A38;
$second-color:#FF630E;
// $color-primary: #84134b;
// $color-secondary: #fb6519;
// $color-tertiary: #0b9aa2;
// $color-quaternary: #f5f5f5;

// // COLOR-QUINARY
// $color-quinary:rgb(225,89,151);
// $color-quinary-light:#ffc5df;
// $color-quinary-gradient:#B12459;
// $footer-color:#2B3539;
// // $color-quinary:#000;
// // $color-senary:#000;
// // $color-septenary:#000; 
// // $color-octonary:#000;
// // $color-nonar:#000;
// // $color-denary:#000;

// $black-color:#000;
// $white-color:#fff;
// $green-color:green;
// $google-color:#db4a39;
// $facebook-color:#4267B2;



// FONT
// $font-family: "Lexend", "sans-serif";
$default-font-size: 14px; // 1rem = 16px 1.6rem=
// $font-icon-size:1.
$default-font-size-2: 1.4rem;
$default-font-size-3: 1.2rem;
$default-font-size-4: 1rem;
$default-font-size-5: 0.8rem;
$default-font-size-6: 0.6rem;
$default-font-size-7: 4.6rem;